.Box{
    background-color: pink;
    width: 100%;
    height: 200px;
    
}

.compose-button{
    margin-left: 80%;
    margin-top: 2%;
    position: fixed;
    background: pink;
    width: 15%;
    min-width: 10%;
    height: 10%;
    border-radius: 40px;
    color: rgb(135, 117, 136);
    border-color: violet;
}

.compose-button-compressed{
    margin-left: 85%;
    margin-top: 2%;
    position: fixed;
    background:pink;
    width: 8%;
    height: 6%;
    border-radius: 50px;
    color: rgb(135, 117, 136);
    border-color: violet;
    min-width: 50px;
}

button:hover{
    background: white;
}

